<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header " >
      <a class="navbar-brand " routerLink="homepage">LiteratureAssistant</a>
  </div>
  <div>
      <ul class="nav navbar-nav">
          <li ><a routerLink="mylits">MyLits</a></li>
          <li ><a routerLink="recommendedlits">RecommendedLits</a></li>
          <li ><a >part3</a></li>
          <li ><a >part4</a></li>
      </ul>   
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
