<div id="accordion2">
  <div *ngFor="let comment of comments" class="panel panel-success">
    <a data-toggle="collapse" data-parent="#accordion2" href="#comment{{comment.id}}"
    (click)="test($event)">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{comment.id}}
        </h3>
      </div>
    </a>
    <div id="comment{{comment.id}}"  *ngIf="1==comment.visiable"> 
      <div class="panel-body">
          {{1==comment.visiable}}
          {{comment.content[0]}}{{comment.content[1]}}{{comment.content[2]}}{{comment.content[3]}}{{comment.content[4]}}
      </div>
    </div>
  </div>
</div>


